<!-- Définition du style du bouton 'back to top' -->
{% style %}
  .back-to-top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 50px;
    width: 50px;
    background-color: #EEEEEE;
    color: black;
    border-radius: 50%;
    z-index: 100;
  }
  /* Style pour le hover */
  .back-to-top:hover {
    transition: all 0.3s ease-in-out;
    scale: 1.1;
    cursor: pointer;
  }
  /* Style pour le focus */
  .back-to-top:focus {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    scale: .9;
    cursor: pointer;
  }
{% endstyle %}

<!-- Bouton 'back to top' -->
<button id="toTop" class="back-to-top">
  <!-- Snippet du ficher SVG de l'icone -->
  {% render 'icon-custom-chevron-up' %}
</button>

<script>
  // Initialisation de jQuery quand la page est chargée
  $(document).ready(function() {
    // Fonction pour afficher/cacher le bouton 'back to top' en fonction de la position du scroll > 100 pixels
    $(window).scroll(function() {
      if ($(this).scrollTop() > 100) {
        $('#toTop').fadeIn();
      } else {
        $('#toTop').fadeOut();
      }
    });
    // Fonction pour animer le scroll vers le haut de la page lors du clic sur le bouton 'back to top' - duration 800ms
    $('#toTop').click(function() {
      $('html, body').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });
</script>