.custom-newsletter-wrapper, .custom-newsletter-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.custom-newsletter-wrapper {
  gap: 24px;
}

.custom-newsletter-header {
  gap: 12px;
}

.custom-newsletter-wrapper form {
  width: 100%;
  max-width: 613px;
}

.custom-form-main {
  border-radius: 45px;
  padding: 20px;
  height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #000000;
}

.custom-newsletter-header {
  font-weight: 600;
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.custom-newsletter-subheader {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 15px;
  color: #2F2F2F;
  font-style: normal;
}

@media screen and (min-width: 990px) {
  .custom-form-main {
    width: 613px;
  }
}

#customerEmail {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: transparent;
}

#customerEmail:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.custom-submit-btn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.custom-form-main.success input {
  border-color: none;
}

.input-control .error {
  color: #ff3860;
  font-size: 12px;
}

.error ul li {
  list-style: none;
}

.custom-component-wrapper {
  margin-top: 1rem;
}

@media screen and (min-width: 990px) {
  .custom-component-wrapper {
    margin-top: 64px;
  }
}